@page
@model RP_IdentityExample.Pages.Students.GetAllStudentsModel
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome to the list of all students</h1>
    <h1 class="display-4">The system is unable to display any student</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
